.espet{
    background-color: blue;
    width: 20%;
    padding: 20px;
    color: aliceblue;
 }
 .menu{
    background-color: aqua;
    width: 30%;
    padding: 10px;
 }  
 .cadastro{
    background-color: black;
    padding: 20px;
    text-align: center;
    color: white;
 }