.espet{
    background-color: blue;
    width: 20%;
    padding: 20px;
    color: aliceblue;
 }
 .menu{
    background-color: aqua;
    width: 30%;
    padding: 10px;
 }  
 .cadastro{
    background-color: black;
    padding: 20px;
    text-align: center;
    color: white;
    width: 15%;
 }
 .meio{
    font-weight: bold;
    padding: 20px;
    width: 20%;
 }
 .parte1{
    background-color: rgb(156, 156, 156);
   text-align: center;
   justify-content: center;
   align-items: center;
   width: 8%;
   padding: 10px;
 }
.parte2{
    background-color: rgb(156, 156, 156);
    text-align: center;
    width: 15%;
    padding: 10px;
}